#tree-template { display: block; }

.tree-image{
display: none;
margin-left: 200px;
position: absolute;
}

.bird-container {
  width: 400px;
  position: absolute;
  display: inline-block;
}
.bird-image {
  display: inline-block;
  position: relative;
  display: none;
  background: url("images/tree.png");
  left: 230px;
}
